<h1 id="score_header">Username should show here</h1>
 <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<div id="graph_container" style="width: 600px; height: 400px; margin: 0 auto"></div>
