<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="instructions-title">How to Play</h4>
      </div>
      <div class="modal-body" id='instructions-body'>
        <p>The object of the game is to watch the colors or sounds that are presented to you while keeping track of the order that they were presented.  When you identify a color, sound or any other stimuli that "n" times ago then you would press the key corresponding to that stimuli. <br>
    		For example, if you choose to play n-back of 2 in single mode (where you only match colors), you will identify any colors that matching that are the same as one that was shown 2 colors ago.  If you want to see a visual example, click the link below!</p><br>
        <div id='example'>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Got It!</button>
        <button type="button" class="btn btn-warning" id='show-example'>Show Me An Example!</button>
        <button type="button" class="btn btn-warning" style='display: none' id='reset-instructions'>Back</button>
      </div>
    </div>
  </div>
</div>