<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="instructions-title">How to Play</h4>
      </div>
      <div class="modal-body" id='instructions-body'>
        <p>N-Back is a game where every few seconds, things happen. Your goal is to remember those things! 
            The 'N' in N-back determines how many rounds of stimuli behind the current one you need to remember(i.e. n=4 means 4 rounds back). 
            The game mode you select will determine what kinds of things you need to pay attention to.<br><br>
            <strong>Game Modes:</strong><br>
            Single - Position<br>
            Dual - Position and sound(a letter, said out loud)<br>
            Triple - Position, sound, and color<br><br>
            Below the game board there are buttons: Position, Sound, and Color. 
            These buttons(and their corresponding keyboard keys) do exactly what you think they should do! Press them when you think there is a match. 
    		<em>For example: if you choose to play n-back of 2 in 'Single' mode (where you keep track of positions), you will click the 'Position' button(or the Q key) whenever you think the current position of the grey square matches it's position from two rounds ago.</em><br><br>
            <strong>Scoring:</strong><br>            
            There are 20 scoring rounds per game. Each round you can score a point for each correct guess(match or no match). This means you can get up to 20 points in 'Single' mode, 40 in 'Dual', or 60 in 'Triple'.<br>
            Good luck!</p>
        <div id='example'>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Got It!</button>
        <button type="button" class="btn btn-warning" id='show-example'>Show Me An Example!</button>
        <button type="button" class="btn btn-warning" style='display: none' id='reset-instructions'>Back</button>
      </div>
    </div>
  </div>
</div>