<div class="container">
  <div class="navbar-header">
    <%= link_to "SmartiPants", root_path, class: "navbar-brand" %>
  </div>
  <ul class="nav navbar-nav navbar-left">
    <li> <a href="#" data-toggle="modal" data-target="#aboutModal" id='about'> About </a> </li>
    <li><a href="#" data-toggle="modal" data-target="#instructionsModal" id="open-instructions"> How To Play </a></li>
  </ul>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" data-toggle="modal" data-target="#signUpModal" id='signup'> Sign Up </a>
        </li>
        <li><a href="#" data-toggle="modal" data-target="#loginModal" id='login'> Login </a></li>
    </ul>
  </div>
</div>