      <div class="container">
        <div class="navbar-header">
          <%= link_to "SmartiPants", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#" data-toggle="modal" data-target="#myModal" id="open-instructions"> How To Play </a></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Profile", users_profile_path %></li>
            <li><%= link_to("Logout", users_logout_path, id:"logout") %></li>
          </ul>
        </div>
    </div>
