
<div id="#profile-page">
  <div id="total_progress_graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="ColorGraph" style="width: 600px; height: 400px;"></div>
  <div id="AudioGraph" style="width: 600px; height: 400px;"></div>
</div>