<div id="total_progress_graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<h3> Stats for last game played!</h3>
<div id='profile_page_graphs'>
  <div id="ColorGraph" style="width: 600px; height: 400px; margin: 0 auto"></div>
  <div id="AudioGraph" style="width: 600px; height: 400px; margin: 0 auto"></div>
</div>
