<div id='profile_page_graphs'>
  <div id="ColorGraph" style="width: 600px; height: 400px; margin: 0 auto"></div>
  <div id="AudioGraph" style="width: 600px; height: 400px; margin: 0 auto"></div>
</div>
