<div class='container-fluid'>
  <center>
    <span>
      <div class="pagination">
        <ul style="background-color: #3498DB; padding: .2em">
          <li> n Back:</a></li>
          <li ><a href="#fakelink">1</a></li>
          <li class="active"><a href="#fakelink">2</a></li>
          <li c><a href="#fakelink">3</a></li>
          <li c><a href="#fakelink">4</a></li>
          <li c><a href="#fakelink">5</a></li>
          <li c><a href="#fakelink">6</a></li>
          <li c><a href="#fakelink">7</a></li>
          <li c><a href="#fakelink">8</a></li>
          <li c><a href="#fakelink">9</a></li>
        </ul>
      </div>

      <div class="dropdown" style="display:inline; margin-left: .20em;">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: #3498DB;">Game Mode<span class="caret"></span></button>
        <span class="dropdown-arrow"></span>
        <ul class="dropdown-menu">
          <li><a href="#fakelink">Single</a></li>
          <li><a href="#fakelink">Dual</a></li>
        </ul>
      </div>
    </span><br>
  </center>

  <div id="game-section" class="container" style="border: 1px solid black; width: 30em; height 30em;">

    start

  </div>
</div>
