<div class='container-fluid'>
  <center>
    <span>
      <div class="pagination">
        <ul style="background-color: #3498DB; padding: .2em">
          <li> n Back:</a></li>
          <li id='2' class="active"><a href="#fakelink">2</a></li>
          <li id='3' ><a href="#fakelink"> 3</a></li>
          <li id='4' ><a href="#fakelink"> 4</a></li>
          <li id='5' ><a href="#fakelink"> 5</a></li>
          <li id='6' ><a href="#fakelink"> 6</a></li>
          <li id='7' ><a href="#fakelink"> 7</a></li>
          <li id='8' ><a href="#fakelink"> 8</a></li>
          <li id='9' ><a href="#fakelink"> 9</a></li>
        </ul>
      </div>

      <div class="dropdown" style="display:inline; margin-left: .20em;">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: #3498DB;">Game Mode<span class="caret"></span></button>
        <span class="dropdown-arrow"></span>
        <ul style="background-color: 4099FF;" class="dropdown-menu">
          <li ><a href="#fakelink">Single</a></li>
          <li><a href="#fakelink">Dual</a></li>
        </ul>
      </div>
    </span><br>
  <div>
    <table class= 'btn btn-default' id="game-section">
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <center><button id="start-button" class="btn btn-hg btn-primary">Start!</button>
          </center>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  </center>
  <audio>
    <source id="soundElem" src="/app/assets/sounds/letters/1.mp3" type="mp3">
  </audio>

</div>
