<div class="modal fade" id="aboutModal" tabindex="1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class"modal-header"> The Science Behind n-Back </div>
    <div class="modal-content">
      <div class="modal-body" id='about'>
        <p><strong> The science behind n-back </strong> </p>
        <div class="modal-footer">
          <center>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>