 <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="about-title">The Science Behind <em>n</em>-Back</h4>
      </div>
      <div class="modal-body" align='left' id='about-body'>
        <p>Smartipants is based on a mental performance task called <em>n</em>-back.  The <em>n</em>-back was introduced in 1958 by Wayne Kirchner<sup><a href="http://en.wikipedia.org/wiki/N-back#cite_note-Kirchner.2C_W._K._1958-2">1</a></sup>, a cognitive researcher studying memory.  The purpose of the task is to measure the working memory (short-term memory) of the participant.  However, performing this task has the added benefit of increasing your working memory and fluid intelligence<sup><a href="http://www.gwern.net/DNB%20FAQ#fn6">2</a></sup>.  Fluid intelligence is linked to IQ, and has to do with pattern recognition and problem solving<sup><a href="http://en.wikipedia.org/wiki/Fluid_and_crystallized_intelligence#cite_note-5">3</a></sup>.  </p>
        <p>Smartipants provides a way of turning <em>n</em>-back into an easy to play and fun game that gives you total control over the difficulty.  Beginners start at single 1-back, meaning they simply have to remember if the position currently displayed on the screen is the same as the one before it.  However, as you get better at the game - and improve your working memory in the process - you can move onto dual and triple <em>n</em>-back, as well as going 2-,3-, and all the way up to 9-back!</p>
        <p>A simple game is not all that Smartipants provides, however.  If you're signed in, your profile page shows you detailed graphs with stats of your most recent game, as well as a graph depicting your overall progress.  In the future, you'll be able to see overall statistics for others playing Smartipants, be able to challenge your friends to beat your scores, and even find out how you learn!</p>
        <p>So go ahead and train your brain, you'll be glad you did.  <br>For more information about <em>n</em>-back, please visit these links:</p>
        <ul>
          <li><a href="http://www.gwern.net/DNB%20FAQ">DUAL <em>n</em>-BACK FAQ</a></li>
          <li><a href="http://brainscale.net/dual-n-back">Dual <em>n</em>-Back (Some tips for beginners)</a></li>
          <li><a href="http://en.wikipedia.org/wiki/N-back#cite_ref-14"><em>n</em>-back Wikipedia page</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>