/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_flat-ui
 */


#game-section {
  width: 30em;
  height: 30em;
  background-color: #ECF0F1;
}

#game-section tr {
  height: 10em;
}

#game-section td {
  width: 10em;
}

#color-button {
  width: 17em;
  height: 4em;
  margin: 2em 1em 1em 1em;
}

#sound-button {
  width: 17em;
  height: 4em;
  margin: 2em 1em 1em 1em;
}

#graph_container{

}














