/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap

 *= require_self
 *= require flat-ui
 */

#game-section {
  width: 30em;
  height: 30em;
  background-color: #fff;
  border-radius: 15px;
}

.pagination ul {
  padding: .5em;
}

.dropdown {
  display: inline;
}

#game-mode {
  padding: .8em 1em .8em 1em;
  background-color: #7AABED;
}

#game-mode-selection {
  background-color: #C966D6;
}

#game-section tr {
  height: 15em;
}

#game-section td {
  width: 15em;
  border-radius: 15px
}

#start-button {
    height: 100px;
    min-width: 200px;
    font-size: 2em;
    font-weight: bold;
}

.form-group {
	width: 15em;
}

.form-control {
  margin-top: .2em;
	margin-bottom: .2em;
	width: 15em;
}

#position-button {
  width: 9em;
  height: 4em;
  margin: 1em .25em .5em;
}

#sound-button {
  width: 9em;
  height: 4em;
  margin: 1em .25em .5em;
}

#color-button {
  width: 9em;
  height: 4em;
  margin: 1em .25em .5em;
}

#graph_container{

}

#real-time-score{
  width: 44em;
  height: 3em;
  border-radius: 20px;
  background-color: #ECF0F1;
}

#real-time-score td {
  width: 2em;
}

#current-score {
  text-align: center;
  background-color: #BDC3C7;
  border-radius: 20px;
}

.game-box {
    margin-top: 20px;
    width: 750px;
    height: 765px;
    padding: 20px 60px;
    border-radius: 25px;
    background-color: #f6f6f6;
}

.white-background {
    background-color: #FFF;
}
