#ColorGraph {
  float: left;
  margin-right: 0%;
  margin-left: 7%;
}

#AudioGraph {
  margin-left: 0%;
  margin-right: 7%;
  float: right;
}


.stats_align2 {
  margin-left: 30%;
}
/*
#profile_page_graphs {
  margin-left: 18%;
  display: inline;
}

*/
