
<!DOCTYPE html>
<html>
<head>
  <title>Smartipants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>

  <nav class="nav navbar-inverse" role="navigation" id='main-navbar'>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SmartiPants</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#"> New Game </a></li>
        </ul>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
          <ul class="nav navbar-nav navbar-right">
        <% unless session[:user_id] %> 
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign Up <b class="caret"></b></a>
                  <div class="dropdown-menu" style="padding:17px;">
                   <form class="form-group" id="submit-signup"> 
                      <input class= "form-control" name="username" id="username" type="text" placeholder="Username">
                      <input class= "form-control" name="email" id="email" type="text" placeholder="Email">
                      <input class= "form-control" name="password" id="password" type="text" placeholder="Password">
                      <input class= "form-control" name="password" id="password_confirmation" type="Password" placeholder="Confirm Password"><br>
                      <input type="submit" id="submit-login" class="btn">
                    </form>
                  </div>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                  <div class="dropdown-menu" style="padding:17px;">
                    <form class="form-group" id="submit-login"> 
                      <input class= "form-control" name="username" id="username" type="text" placeholder="Username"> 
                      <input class= "form-control" name="password" id="password" type="password" placeholder="Password"><br>
                      <input type="submit" id="submit-login" class="btn">
                    </form>
                  </div>
              </li>

        <% else %>
            <li> <a href="">Profile</a> </li>
            <li> <a href="">Logout</a> </li>
        <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



<%= yield %>
    
</body>
</html>

